BODY {
}

TABLE#pte {
	border-collapse: collapse;
	margin: 5px;
	margin-bottom: 2em;
}
TABLE#pte TD, TABLE#pte TH {
	border: 1px solid black;
	border-width: 1px 1px 0 0;
	border-width: 1px;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	text-align: center;
}
TABLE#pte TD .pte-element-info, TABLE#pte TH {
	padding: 2px;
	margin: 0;
}
TABLE#pte .pte-element-symbol {
	font-size: 150%;
}
TABLE#pte .pte-element-above,
TABLE#pte .pte-element-left,
TABLE#pte .pte-element-right,
TABLE#pte .pte-element-below {
	font-size: 80%;
}
TABLE#pte TD.blank {
	border-width: 0;
}
TABLE#pte CAPTION {
	font-size: 200%;
}
TABLE#pte .groups-arabic {
	font-size: 70%;
}
TABLE#pte .groups-arabic TH {
	padding: 0;
	margin: 0;
	height: 1em;
}

TABLE#pte .element-core-numbers {
	font-size: 120%;
	padding-right: 1px;
}

#p-discovery-ctrl-year {
	margin: 0 1em;
}
.ui-widget {
	font-size: 90%;
}
#element-details-icon {
	font-size: 300%;
}
#element-details-icon SUB {
	font-size: 50%;
}
#element-details-basic TD {
	
}
#element-details-basic TD.element-details-icon {
	text-align: center;
}

.element-family-metal {
	background-color: #FFE680;
}
.element-family-metalloid {
	background-color: #8AE673;
}
.element-family-noblegas {
	background-color: #BFCFFF;
}
.element-family-nonmetal {
	background-color: #809FFF;
}
.element-family-alkalimetal {
	background-color: #FFB380;
}
.element-family-alkalineearthmetal {
	background-color: #FFCC80;
}

.element-highlight {
	background-color: #FFDD57;
}

UL.p-home-legend {
	list-style-type: none;
}
UL.p-home-legend LI {
	margin: 6px;
	float: left;
	display: block;
	width: 40%;
}
UL.p-home-legend SPAN {
	border: 1px solid;
	padding: 4px;
	display: block;
}
