BODY {
	
}

TABLE#pte {
	border-collapse: collapse;
	margin: 5px;
}
TABLE#pte TD, TABLE#pte TH {
	border: 1px solid black;
	border-width: 1px 1px 0 0;
	border-width: 1px;
	border-collapse: collapse;
	padding: 2px;
	margin: 0;
	text-align: center;
	width: 4em;
	height: 2.5em;
}
TABLE#pte TD.element {
	width: 4em;
	font-size: 120%;
	
}
TABLE#pte TD.blank {
	border-width: 0;
}
TABLE#pte CAPTION {
	font-size: 200%;
}
TABLE#pte .groups-arabic {
	font-size: 70%;
}
TABLE#pte .groups-arabic TH {
	padding: 0;
	margin: 0;
	height: 1em;
}
#p-discovery-ctrl-year {
	margin: 0 1em;
}
.ui-widget {
	font-size: 90%;
}
#element-details-icon {
	font-size: 300%;
}
#element-details-icon SUB {
	font-size: 50%;
}
#element-details-basic TD {
	
}
#element-details-basic TD.element-details-icon {
	text-align: center;
}

.element-family-metal {
	background-color: #9cf;
}
.element-family-metalloid {
	background-color: #f9c;
}
.element-family-noblegas {
	background-color: #fc9;
}
.element-family-nonmetal {
	background-color: #ffc;
}
.element-family-alkalimetal {
	background-color: #69f;
}
.element-family-alkalineearthmetal {
	background-color: #99f;
}

.element-highlight {
	background-color: #feeebd;
}
